@import "./base";
@import "./iconfont/fonts";
@import "./mixin";

// 单行省略，优先使用 unocss: text-ellipsis
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 两行省略
.ellipsis-2 {
  @include line-clamp(2);
}

// 三行省略
.ellipsis-2 {
  @include line-clamp(3);
}

.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;

  padding-top: 4px;
  color: red;
}
